<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.art.art">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ART"
            android:logo="@drawable/repair">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Assistance"
            android:parentActivityName="com.example.art.art.ART" />
        <activity android:name=".Repair"
            android:parentActivityName="com.example.art.art.ART" />
        <activity android:name=".Transportation"
            android:parentActivityName="com.example.art.art.ART" />
        <uses-permission android:name="android.permission.INTERNET" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnYfYQkt7bzz-_j4NwEsJL7hEd2OZaKnI" />
    </application>
</manifest>